<li class="restaurant-item">
    <article>
      <h2><%= res.name %></h2>
      <div class="restaurant-meta">
        <p><%= res.cuisine %></p>
        <p><%= res.address %></p>
      </div>
      <p>
        <%= res.description %>
      </p>
      <div class="restaurant-actions">
        <a href="/restaurants/<%= res.id %>">View Restaurant</a>
      </div>
    </article>
</li>